.DS_Store
.idea/
.vscode/

ERP-GOLD-main/.env
ERP-GOLD-main/.env.backup
ERP-GOLD-main/.env.production
ERP-GOLD-main/auth.json

ERP-GOLD-main/vendor/
ERP-GOLD-main/node_modules/
ERP-GOLD-main/public/build/
ERP-GOLD-main/public/hot
ERP-GOLD-main/public/storage
ERP-GOLD-main/public/uploads/

ERP-GOLD-main/storage/*.key
ERP-GOLD-main/storage/logs/*.log
ERP-GOLD-main/bootstrap/cache/*.php
ERP-GOLD-main/storage/framework/sessions/*
!ERP-GOLD-main/storage/framework/sessions/.gitignore
ERP-GOLD-main/storage/framework/views/*
!ERP-GOLD-main/storage/framework/views/.gitignore

ERP-GOLD-main/.phpunit.cache
ERP-GOLD-main/.phpunit.result.cache

ERP-GOLD-main/npm-debug.log
ERP-GOLD-main/yarn-error.log
